body {
    background: #eaeaea;
}

#header {
    margin: auto;
    width: 50%;
    text-align: center;
    color: #eaeaea !important;
}

.path-view {
    width: 100%;
    height:31px;
    background-color: white !important;
}

.navbar {
    background-color: #393d42 !important;
    /* background-color: #484d53 !important; */
}

.info-text {
    margin-bottom: 5px;
}

#validation-output {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: transparent;
}

.valid {
    color: #007a00 !important;
}

.invalid {
    color: #ae2844 !important;
}

.full-size {
    width: 100%;
    height: 100%;
}

textarea {
    background-color: white;
    resize: none;
}